/*  
Skin Name: Black
Version: 1.0
Description: (theme shared on wplocker.com) -  Skin for Elemin
*/

body {
	background-color: #4a4a4a;
	color: #a1a1a1;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

/* form fields */
input[type=text], input[type=password], textarea, input[type=search] {
	background: #727272;
	border-color: #333;
	color: #000;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=search]:focus {
	background: #fff;
}

/* form button */
input[type=reset], input[type=submit] {
	background-color: #000;
}
input[type=reset]:hover, input[type=submit]:hover {
	background-color: #000;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	background-color: #2e2e2e;
	border-color: #272727;
	border-bottom-color: #222;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	border-color: #777;
}

/* site logo */
#site-logo a {
	color: #fff;
}

/* site description */
#site-description {
	color: #c4c4c4;
}

/* search form */
#header #searchform #s {
	color: #ccc;
}


/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
.main-nav {
	border-color: #505050;
}
/* main level link */
.main-nav a {
	color: #999;
}
/* main level link :hover */
.main-nav a:hover, .main-nav li:hover > a {
	color: #fff;
}
/* current link */
.main-nav .current_page_item a, .main-nav .current-menu-item a {
	color: #fff;
}
/* current link :hover */
.main-nav .current_page_item a:hover, .main-nav .current-menu-item a:hover {
	color: #fff;
}

/************************************************************************************
POST
*************************************************************************************/
.post-title, .post-title a {
	color: #fff;
}

/* post meta */
.list-post .post-icon {
	border-color: #505050;
}

/* post nav */
.post-nav a {
	color: #c4c4c4;
}
.post-nav a:hover {
	color: #fff;
}
.post-nav span span {
	background-color: #555;
}

/************************************************************************************
POST ICON
*************************************************************************************/
.post-icon {
	background: url(images/icon-post.png) no-repeat right 2px;
}

.format-audio .post-icon  {
	background-image: url(images/icon-audio.png);
}
.format-gallery .post-icon {
	background-image: url(images/icon-gallery.png);
}
.format-link .post-icon {
	background-image: url(images/icon-link.png);
}
.format-quote .post-icon {
	background-image: url(images/icon-quote.png);
}
.format-status .post-icon {
	background-image: url(images/icon-status.png);
}
.format-aside .post-icon {
	background-image: url(images/icon-aside.png);
}
.format-video .post-icon {
	background-image: url(images/icon-video.png);
}
.format-image .post-icon {
	background-image: url(images/icon-image.png);
}
.format-chat .post-icon {
	background-image: url(images/icon-chat.png);
}

/* format link */
.format-link .post-title a {
	background: url(images/link-arrow.png) no-repeat right center;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #777;
}
.commentlist .commententry {
	border-color: #505050;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #505050;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	border-color: #777;
}
#footer-logo a {
	color: #fff;
}

/* footer nav */
.footer-nav {
	border-color: #777;
}

/* back top */
.back-top a {
	background: #000;
}