/*  
Skin Name: Blue
Version: 1.0
Description: (theme shared on wplocker.com) -  Skin for Elemin
*/

body {
	background-color: #e7ecf0;
	color: #7a7e7f;
}
a {
	color: #3a585f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

/* form fields */
input[type=text], input[type=password], textarea, input[type=search] {
	background: #f2f7f8;
	border-color: #e3e7e8;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=search]:focus {
	background: #fff;
}

/* form button */
input[type=reset], input[type=submit] {
	background-color: #3a585f;
}
input[type=reset]:hover, input[type=submit]:hover {
	background-color: #000;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	background-color: #f5fdff;
	border-color: #c2ced0;
	border-bottom-color: #aeb6b7;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	border-color: #3a585f;
}

/* site logo */
#site-logo a {
	color: #3a585f;
}

/* site description */
#site-description {
	color: #9ea1a2;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
.main-nav {
	border-color: #dce3e5;
}
/* main level link */
.main-nav a {
	color: #3a585f;
}

/************************************************************************************
POST
*************************************************************************************/
/* post meta */
.list-post .post-icon {
	border-color: #dce3e5;
}

/* post nav */
.post-nav a {
	color: #9ea1a2;
}
.post-nav span span {
	background-color: #3a585f;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #3a585f;
}
.commentlist .commententry {
	border-color: #dce3e5;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #dce3e5;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	border-color: #3a585f;
}
#footer-logo a {
	color: #3a585f;
}

/* footer nav */
.footer-nav {
	border-color: #dce3e5;
}

/* back top */
.back-top a {
	background: #3a585f;
}